<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(175, 175, 222);
  }

  .content {
    max-width: clamp(720px, 70vw, 1080px);
    min-width: 720px;
    background-color: gray;
    height: 100vh;
    display: grid;
    grid-template: 3fr 1fr / 1fr;
  }

  #input {
    display: inline;
  }

  #chat-log {
    padding-top: clamp(16px, 10vh, 64px);
  }
</style>

<main class="main">
  <div class="content">
    <!-- Populate with messages and input box -->
    <app-chat-log id="chat-log" #chatLog></app-chat-log>

    <app-input-bar
      (submitPrompt)="chatLog.handlePrompt($event)"
    ></app-input-bar>
  </div>
</main>

<router-outlet />
